body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    margin-top: -49px;
}

h1 {
    font-size: 50px;
}

.name {
    color: rgb(253, 152, 0);
}

.flex_section {
    display: flex;
    margin-bottom: 100px;
}

.half-part {
    width: 50%;
    padding-top: 1%;
    padding-left: 7%;
}

.half-part img {
    width: 85%;
}

.button {
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
    border-radius: 8px;
    padding: 10px 40px;
    background-image: linear-gradient(tomato, orange);
}

a:hover {
    font-weight: 400;
    background-image: linear-gradient(orange, tomato);
}

#top_banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#dream_part {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-part p {
    color: gray;
    text-align: justify;
    width: 80%;
    font-weight: 400;
}

.box {
    box-shadow: 10px 10px 60px gray;
    padding: 0px 10px 60px 50px;
    border-radius: 10px;
    width: 40%;
    margin-left: 5%;
}

.flex_section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

h2 {
    font-size: 40px;
}

.first_one {
    border-left: 8px solid rgb(245, 98, 12);
}

.second_one {
    border-left: 8px solid blue;
    margin-right: 5%;
}

footer {
    text-align: center;
    color: gray;

}